<h2>Add Employee (MongoDB)</h2>
<ul>
    <li>EID must be 4 Characters</li>
    <li>Phone must be > 5 characters</li>
    <li>Email must be a valid email address</li>
</ul>

<form action="/employeesMongoDB/add" method="POST">
    <label>EID</label>
    <!-- Only 4 Characters can be used -->
    <input type="text" name="_id" minlength="4" maxlength="4" required>
    <br>
    <label>Phone</label>
    <!-- Minimum of 6 characters needed for the phone number -->
    <input type="tel" name="phone" minlength="6" required>
    <br>
    <label>Email</label>
    <!-- Emial input type ensures valid email is entered -->
    <input type="email" name="email" required>
    <br>
    <input type="submit" value="Add">
</form>


<a href="http://localhost:4001/">Home</a>